.rbc-header {
    color: white;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background: rgb(4, 35, 84);
}
  
.rbc-allday-cell {
    display: none;
}

.rbc-button-link {
    cursor: default;
}

.rbc-label {
    cursor: default;
}

.rbc-slot-selection {
    background-color: rgb(4, 35, 84, 60%);
}

.rbc-events-container {
    width: 100%;
}

.rbc-background-event {
    background-color: #65C3D0;
}
