@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.letter-spacing-title {
    letter-spacing: 2px;
}

.border-custom {
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(116,170,255,0.70);
}

.sidebar-shaddow {
    box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.15);
}

.ag-theme-alpine {
    /* --ag-foreground-color: rgb(126, 46, 132); */
    /* --ag-background-color: rgb(249, 245, 227); */
    /* --ag-header-foreground-color: rgb(204, 245, 172); */
    --ag-header-background-color: rgb(243, 241, 246);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-selected-row-background-color: #e3dfea;
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);
    --ag-borders: none;
   
    --ag-header-height: 40px;
    /* --ag-list-item-height: 40px; */
    --ag-row-height: 35px;
    --ag-font-size: 30px;
    --ag-font-family: Mulish, sans-serif;
    --ag-row-border-width: none;
    --ag-row-border-color: white;
    --ag-checkbox-checked-color: #672779;
    --ag-checkbox-unchecked-color: #672779;
  }